{% extends 'index.html' %}

{% block title %} <title>Actividades</title>{% endblock %}

<body>

    <main>
    {% block content %}
          <section id="cursos">
            <div class="contenedor_cursos">
                <h2>Horarios de nuestras actividades</h2>
                <div class="contenedor_clases">
                    {% for curso in cursos %}
                        <div class="cada-curso">
                        <strong class="nombre-curso">{{ curso['NombreCurso'] }}</strong><br>
                           
                            {% for horario in curso['Horarios'].split(',') %}
                                <strong>{{ horario }}</strong><br>
                            {% endfor %}
                            
                        </div>
                    {% endfor %}
                    
                </div>
                {% if session.id_usuario %}
                        <button class="reserva" onclick="window.location.href='/usuario'">Reservá tu lugar!!!</button>
                    {% else %}
                        <button class="reserva" onclick="window.location.href='/login'">Reservá tu lugar!!!</button>
                    {% endif %}
            </div>
        </section>
        {% endblock %}
    </main>
</body>

</html>




